@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Netwrix Test</h1>
    <p>Number of Paid Invoices: </p>
    <p>Total of Paid Invoices: </p>
</div>

<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Customer Name</td>
                <td>Most Recent Invoice Ref</td>
                <td>Most recent Invoice Amount</td>
                <td>Number of outstanding Invoices</td>
                <td>Total Of Outstanging Invoices</td>
                <td>Total of Paid Invoices</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Customer Name</td>
                <td>Most Recent Invoice Ref</td>
                <td>Most recent Invoice Amount</td>
                <td>Number of outstanding Invoices</td>
                <td>Total Of Outstanging Invoices</td>
                <td>Total of Paid Invoices</td>
            </tr>
        </tbody>
    </table>
</div>